
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}
:root{
     --bg-color: #1f242d;
     --second-bg-color: #323946;
     --text-color: #fff;
     --main-color: #0ef;
}
html{
    font-size: 62.5% ;
    overflow-x:hidden ;
}

body{
    background: var(--bg-color);
    color: var(--text-color);
}


section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;

}

span{
    color: var(--main-color);
}
.heading{
    text-align: center;
    font-size: 4.5rem;

}


.coding{
    background-color: var(--second-bg-color);

}
.coding h2{
    margin-bottom: 4rem;
}
.content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.content .content-box{

    position: relative;
    border: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
    border-radius: 2rem;
}
.content-box img{
    width: 100%;
    border-radius: 2rem;
    transition: .5s ease;
}

.content-box:hover img{
    transform: scale(1.1);
}

.content-box  .content-layer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,.1), var(--main-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}

.content-box:hover  .content-layer{
    transform: translateY(0);
}

.content-layer h4{
    font-size: 3rem;

}
.content-layer p{
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
}

.content-layer a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;

}

.content-layer a i{
    font-size: 2rem;
    color: var(--second-bg-color);
}
